*{
  font-family: 'Trebuchet MS',Arial, sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #444;
  margin-bottom: 20px; 
}

h3, p {
  padding: 0;
  margin: 0;
}
.sem-credits {
  padding-top:10px;
  font-size: 16px;
  font-weight: bold;
}
#box0,#manualIN{
  width:auto;
  max-width: 500px;
  margin: 0 auto 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#manualIN {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#left, #right {
    flex: 1;
    padding: 30px;
}
form {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
button{
    margin: auto;
}


.semesterForm, #summaryContainer {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
}

th {
  background-color: #f8f8f8;
  font-weight: 600;
  color: #333;
}

.submit-button,button {
  background-color: #28a745; 
  color: #fff;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button.clicked {
  background-color: #dc3545;
}

.submit-button:hover {
  background-color: #218838;
}

.submit-button.clicked:hover {
  background-color: #c82333;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.container {
    padding: 20px;
}

.dropdown-container {
    margin-bottom: 20px;
}

.semesterForm {
    margin-bottom: 20px;
}

.gpaContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.submit-button {
    margin-right: 10px;
}
